@font-face {
    font-family: 'Liberation Sans Italic';
    font-style: normal;
    font-display: swap;
    font-weight: 400;

    src: url('LiberationSans-Italic.woff2')  format('woff2'),
         url('LiberationSans-Italic.woff') format('woff'),
         url('LiberationSans-Italic.ttf') format('truetype');
    
}



