/* You can add global styles to this file, and also import other style files */
:root {
  --buttonheight: 8vh;
  --buttontop: 1.00vh;

  --buttonbarleft: 63vw;
  --buttonbarwidth: 36vw;

  
  --fontsize: 2.0vmin ;

  --mapheight: 99vmin;
  --mapwidth: 99vmin; 

  --headerheight: 9vh;
  --headertop: 1vh; 
  --headerright: 0.5vw; 
  --headerwidth:  99vw ; 

  --searchleft: 1vw;
  --searchwidth: 20vw;
  --searchtop:12vh; 



  --visselectleft: 43vw;
  --visselectwidth: 20vw;

  overflow: hidden !important;
}
