@use 'sass:map';
@use '@angular/material' as mat;
@include mat.core();
@import url('assets/fonts/fonts.css');


:root {

  --oranje: #ffa500;
  --pdokblauw: #1a1e4f;
  --blue-100: #4183c4;
  --font-family: "Roboto";
  --buttonheight: 8vh;
  --buttonwidth: 20vw;
  --buttontop: 1.00vh;

  --buttonbarleft: 63vw;
  --buttonbarwidth: 36vw;


  --fontsize: 2.0vmin;

  --mapheight: 99vmin;
  --mapwidth: 99vmin;

  --headerheight: 9vh;
  --headertop: 1vh;
  --headerright: 0.5vw;
  --headerwidth: 99vw;

  --footerheight: 3vh;
  --footertop: 96.5vh;


  --searchleft: 1vw;
  --searchwidth: 25vw;
  --searchtop: 12vh;



  --visselectleft: 43vw;
  --visselectwidth: 20vw;

  overflow: hidden !important;






  html,
  body {
    height: 100%;
  }




}