@font-face {
  font-family: "Liberation Sans Bold Italic";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url("http://localhost:4200/assets/fonts/liberationsans-bolditalic/liberationsansbolditalic.woff2")format("woff2"),
    url("http://localhost:4200/assets/fonts/liberationsans-bolditalic/liberationsansbolditalic.xxx")format("woff2"),
    url("http://localhost:4200/assets/fonts/liberationsans-bolditalic/liberationsansbolditalic.ttf")format("truetype"),
    url("http://localhost:4200/assets/fonts/liberationsans-bolditalic/liberationsansbolditalic.woff")format("woff");

}