
/* roboto-regular - latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("./roboto-v18-latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("./roboto-v18-latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("./roboto-v18-latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin-regular.woff") format("woff"),
    /* Modern Browsers */
    url("./roboto-v18-latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("./roboto-v18-latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-italic - latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("./roboto-v18-latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin-italic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("./roboto-v18-latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin-italic.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("./roboto-v18-latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin-italic.woff") format("woff"),
    /* Modern Browsers */
    url("./roboto-v18-latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin-italic.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("./roboto-v18-latin-ext_greek_greek-ext_cyrillic_cyrillic-ext_vietnamese_latin-italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}
