<div>
    <div class="news">Deze demo is uitgebreid, bekijk een eenvoudige viewer op <a href='https://pdok.github.io/vectortile-demo-viewer/' target='_blank'>PDOK vectortile viewer in test</a></div>
    <div class=app-container>
        <div class="head">
            <img class="logo" alt="PDOK" src="assets/images/logo-pdok.svg">
        </div>
        <div>
            <app-search></app-search>
        </div>
        <div class="vispanel">

            <button class="selectbutton" (click)="toggleShow()" type="checkbox">{{currentVis}}</button>
            <div *ngIf="isShow" id="divshow">
                <div>
                    <div *ngFor="let v of visualisatie | keyvalue" (click)="onSelect(v.value)">
                        <button class="selectbutton">
                            <span>{{v.value}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <app-olmap class="maparea" [visualisation]=currentVis (titelEmit)="receiveTitle($event)">
        </app-olmap>
        <div class="foot">
            <app-location></app-location>
            <div class="gitlink">
                <a href='https://github.com/PDOK/vectortile-demo-viewer' target='_blank'>Code on Github</a>
            </div>

        </div>
    </div>
</div>

<router-outlet></router-outlet>