#map1 {
  z-index: 1;
  height: var(--mapheight, 99vh);
  width: var (--mapwidth, 98vw);
  margin: 0 auto;
}

.toprightpanel {
  position: absolute;
  left: var(--buttonbarleft, 63vw);
  width: var(--buttonbarwidth, 36vw);
  height: var(--buttonxheight, 98vh);
  top: var(--buttontop, 1vh);
  z-index: 4;

}

.topbuttons {
  display: flex;
  min-height: var(--buttonheight, 1vh);
}

.topbutton {
  flex: 1;
  min-height: var(--buttonheight, 1vh);
  height: var(--buttonheight, 1vh);
  font-size: var(--fontsize, 2.5vh);
  font-family: var(--font-family, "Roboto");
  margin-top: 0.5vh;
  margin-left: 0.5vw;
  margin-right: 0.2vw
}


.button-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;


}

.button-area button {

  margin-right: 0.2vw;
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;

}



.infotextbox {
  text-align: left;
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family, "Roboto");
  font-size: var(--fontsize, 2.5vh);

}

.demobox {
  margin: 1em;
  flex: 1;
  overflow-y:scroll; 
  max-height: 80vh;

  
  
}

.demobox button {
  width: 80%;
  margin-left: 1vw;
  text-align: left;
  margin-right: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh
}


.leftbutton {
  float: right;
  text-align: right;
  margin-right: 16vw;
}

.colorpick {
  z-index: 3;
}

.techcaption {
  text-align: left;
  font-weight: bold;
}



.check {


  top: var(--buttontop, 0.5vh);
  font-size: var(--fontsize, 1vh);
  font-family: var(--font-family, "Roboto");
  flex: 1;
  min-height: var(--buttonheight, 1vh);
  height: var(--buttonheight, 1vh);
  width: 100%;
  text-align: center;
  margin-top: 0.5vh;
  margin-left: 0.5vw;
  margin-right: 0.2vw;
  background-color: whitesmoke
}

.legend-view {
  background-color: whitesmoke;
}

.mdc-switch__track {
  background-color: rgb(146, 191, 213);
}

.cdk-overlay-container {

  text-shadow: (-13px 3px 50px #fff540);

}

.tooltip-class:after {}

.mdc-switch {
  max-width: 3em;
}

.mdc-form-field {

  min-height: var(--buttonheight, 1vh);
  font-family: var(--font-family, "Roboto");
  font-size: var(--fontsize, 1vh);

}