.objectinfo {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right:1em; 
  background-color: white;
  overflow-y: auto;

}

.featuretable {
  text-align: left;
}
.featuretablecaption {
  text-align: left;
  font-weight: bold;
}
