<div class="objectinfo">
    <div *ngFor="let feature of  getFeatures()">
        <table class="featuretable">
            <caption class="featuretablecaption">Object Informatie:</caption>
            <thead>
                <th id="Veld">Veld</th>
                <th id="Waarde">Waarde</th>
            </thead>
            <tbody>
                <tr>
                    <td>Kleur</td>
                    <td [ngStyle]="selectedFillStyle(feature)"></td>
                </tr>
                <tr *ngFor="let f of  getFeatureProperties(feature)">
                    <td>{{f.title }}</td>
                    <td>{{f.value}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>