.demo {

    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: var(--fontsize, 2.5vh);
    font-family: var(--font-family, "Roboto");
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;


}

mdc-switch__track {
    width: 10px;
}