@font-face {
  font-family: "Liberation Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("../liberationsans-regular/LiberationSans-Regular.woff2")format("woff2"),
    url("../liberationsans-regular/LiberationSans-Regular.xxx")format("woff2"),
    url("../liberationsans-regular/LiberationSans-Regular.ttf")format("truetype"),
    url("../liberationsans-regular/LiberationSans-Regular.woff")format("woff");

}